/* Soluzione qui */
/********TABLET******/

@media (min-width:769px) {
 
  #topbar {
    justify-content: flex-start
  }

  main {

    padding: 40px;
  
  }

  .recipe-origin {
    display: inline;
  }

  .recipe-title {
    font-size: 1.2rem;
  }

  .quick-notes ul{
    display: flex;
    flex-wrap: wrap;
  }

  .quick-notes ul li{
    
    width: calc(100% / 3)
  }

  .social-networks button {
    width: 130px;
  }

  .ads {
    display: block;
  }
  
  p.clearfix img{
    float: left;
    margin-right: 10px;
  }
}



/********DESKTOP*******/

@media (min-width:993px) {

  .recipe-title {
    font-size: 1.4rem;
  }

  .quick-notes ul{
    display: block;
  }

  .recipe-card {
    display: flex;
  }

  .recipe-video {
    width: 60%;
  }

  .recipe-info{
    width: 40%

  }

  .recipe-info .quick-notes li{
    display: block;
    width: 100%;
  }

  .social-networks .label {
    display: inline;
    
  }

  footer {
    display: flex;
    justify-content: space-between;
  }

}

/*****LARGE MOBILE 576 PX******/


@media (min-width:576px) {

  p.clearfix img{
    float: left;
  }

  .social-networks button {
    width: 130px;
  }
  
footer {
  text-align: left;
}
}